// gray
$color-gray-900: #061C3D;
$color-gray-800: #243752;
$color-gray-700: #42526B;
$color-gray-600: #6A778B;
$color-gray-500: #838E9E;
$color-gray-400: #9BA4B1;
$color-gray-300: #B4BBC5;
$color-gray-200: #CDD2D8;
$color-gray-100: #E6E8EC;
$color-gray-50: #F5F6F7;
$color-gray-white: #FFFFFF;

// success
$color-success-900: #031F05;
$color-success-800: #063D0A;
$color-success-700: #0C7A13;
$color-success-600: #0C7A13;
$color-success-500: #0F9918;
$color-success-400: #3FAD46;
$color-success-300: #6FC274;
$color-success-200: #9FD6A3;
$color-success-100: #CFEBD1;
$color-success-50: #FEEDFA;

// warning
$color-warning-900: #331B00;
$color-warning-800: #663600;
$color-warning-700: #995200;
$color-warning-600: #CC6D00;
$color-warning-500: #FF8800;
$color-warning-400: #FFA033;
$color-warning-300: #FFB866;
$color-warning-200: #FFCF99;
$color-warning-100: #FFE7CC;
$color-warning-50: #FFF3E6;

// error
$color-error-900: #2E0E0E;
$color-error-800: #5C1C1C;
$color-error-700: #892929;
$color-error-600: #B73737;
$color-error-500: #E54545;
$color-error-400: #EA6A6A;
$color-error-300: #EF8F8F;
$color-error-200: #F5B5B5;
$color-error-100: #FADADA;
$color-error-50: #FCECEC;

// primary
$color-primary-900: #02142E;
$color-primary-800: #04285C;
$color-primary-700: #073B89;
$color-primary-600: #094FB7;
$color-primary-500: #0B63E5;
$color-primary-400: #3C82EA;
$color-primary-300: #6DA1EF;
$color-primary-200: #9DC1F5;
$color-primary-100: #CEE0FA;
$color-primary-50: #F0F5FF;

// secondary
$color-secondary-900: #332812;
$color-secondary-800: #665024;
$color-secondary-700: #997735;
$color-secondary-600: #CC9F47;
$color-secondary-500: #FFC759;
$color-secondary-400: #FFD27A;
$color-secondary-300: #FFDD9B;
$color-secondary-200: #FFE9BD;
$color-secondary-100: #FFF4DE;
$color-secondary-50: #FFF9EE;

// tertiary
$color-tertiary-900: #170A33;
$color-tertiary-800: #2F1566;
$color-tertiary-700: #461F99;
$color-tertiary-600: #5E2ACC;
$color-tertiary-500: #7534FF;
$color-tertiary-400: #915DFF;
$color-tertiary-300: #AC85FF;
$color-tertiary-200: #C8AEFF;
$color-tertiary-100: #E3D6FF;
$color-tertiary-50: #F1EBFF;

// alcohol
$color-alcohol-900: #300F28;
$color-alcohol-800: #611D50;
$color-alcohol-700: #912C78;
$color-alcohol-600: #C23AA0;
$color-alcohol-500: #F249C8;
$color-alcohol-400: #F56DD3;
$color-alcohol-300: #F792DE;
$color-alcohol-200: #FAB6E9;
$color-alcohol-100: #FCDBF4;
$color-alcohol-50: #FEEDFA;